# Node
node_modules/
dist/
dist-private/
private/
.astro/

# Env
.env
.env.production
.env.local
public/toolbox-auth/generated-config.php

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
